body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*::-webkit-scrollbar-thumb {
  width: 0.4em;
  height: 0.4em;
  background: rgb(60, 60, 60);
  border-radius: 8px;
}

*::-webkit-scrollbar {
  width: 0.4em;
}
